# CORE FASTAPI
fastapi
uvicorn[standard]
python-dotenv

# AUTH & SECURITY
passlib==1.7.4
bcrypt==3.2.0
python-jose[cryptography]

# DATABASE
asyncpg

# AI & LIBRARIES
openai>=1.0.0
llama-index>=0.10.20
llama-index-vector-stores-qdrant
qdrant-client
sentence-transformers

# UTILITIES
python-multipart
google-api-python-client




